$color-white: #fff;
$color-background: #f7f8fd;
$color-light-grey: #f2f4fe;

$color-grey: #647196;
$color-special-black: #3a4374;
$color-light-dark: #656ea3;

$color-blue: #4661e6;
$color-dark-blue: #373f68;
$color-light-blue: #7c91f9;

$color-orange: #f49f85;
$color-red: #d73737;
$color-light-red: #e98888;

$color-purple: #ad1fea;
$color-light-purple: #c75af6;

$padding: 24px;
